aliyun-fc2==2.1.0
amqp==1.4.7
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.20
celery==3.1.18
certifi==2019.3.9
cffi==1.13.2
chardet==3.0.4
Click==7.0
configparser==3.7.4
crypto==1.4.1
cryptography==2.8
Django==2.1.4
django-mysql-pymysql==0.1
Flask==0.10.1
Flask-pymysql==0.2.3
Flask-SQLAlchemy==2.0
get==2019.4.13
html-testRunner==1.2
idna==2.7
itsdangerous==0.24
Jinja2==2.7.3
key==0.4
kombu==3.0.35
lxml==4.6.3
MarkupSafe==0.23
mysqlclient==1.4.2.post1
Naked==0.1.31
numpy==1.16.4
opencv-python==4.1.1.26
Pillow==6.0.0
post==2019.4.13
public==2019.4.13
pycparser==2.19
Pygments==2.4.2
PyMySQL==0.9.3
Pypubsub==4.0.3
pytz==2015.6
pywin32==224
PyYAML==5.1.2
query-string==2019.4.13
redis==2.10.3
request==2019.4.13
requests==2.20.0
robotframework==3.1.2
robotframework-ride==1.7.3.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.3.1
robotframeworklexer==1.1
selenium==3.141.0
shellescape==3.4.1
six==1.12.0
SQLAlchemy==1.0.8
sqlparse==0.3.0
urllib3==1.24.3
Werkzeug==0.10.4
wxPython==4.0.6
xlrd==1.2.0
xlwt==1.3.0
